body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
    color: #333;
}

header{
    background: #8b0000;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

nav{
    background: #600000;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0.8rem;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover{
    color: #ffd700;
}

.menu-overview{
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
}

.menu-overview h2{
    color: #8b0000;
    margin-bottom: 2rem;
}

.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;
}

.menu-card{
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
}

.menu-card:hover{
    transform: scale(1.05);
}

.price{
    font-weight:bold;
    color: #8b0000;
}
.menu-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.menu-card h3{
    margin: 1rem 0;
    color: #600000;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem auto;
    align-items: center;
    max-width:700px;
    margin: 0.8rem auto;
    border-bottom: 1px dashed #ccc;
    border-radius: 8px;
    position: relative;
    margin-bottom: 10px;
}

.menu-item:last-child{
    border-bottom : none;
}

.compare-btn{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: #600000;
    color: white;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 6px;
    font-size: 0.9rem;
    transition: background 0.3s;

}

.compare-btn:hover{
    background: #8b0000;
}

.compare.section h2{
    text-align: center;
    color: #8b0000;
    margin-bottom: 1rem;
}

#compare-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

#compare-table th, #compare-table td{
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: center;
}

#compare-table th{
    background: #600000;
    color: white;
}

#compare-table tr:nth-child(even){
    background: #f9f9f9;
}


#clear-compare{
    background: #8b0000;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background 0.3s;
}

#clear-compare:hover{
    background: #600000;
}

.contact-info{
    text-align: center;
    margin: 50px auto;
    font-size: 1.2rem;
    line-height: 2;
}

.contact-info strong{
    color: #8b0000; 
}
